# API ключ
# Получение API ключа: https://apilayer.com/marketplace/exchangerates_data-api
API_KEY=your_api_key_here

# Конфигурация API
EXCHANGE_RATE_API_URL=https://api.apilayer.com/exchangerates_data
